@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cormorant:wght@300&family=Yusei+Magic&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    width: 100%;
    height: 100%;
}

body{
    background: url(https://kartinkinaden.ru/uploads/posts/2020-07/1593751903_17-p-foni-v-izumrudnikh-tonakh-21.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    font-family: Trebuchet MS, Helvetica;
}

header{
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: transparent;
    float: left;
    position: fixed;
}

header #logotype {
    color: white;
    cursor: pointer;
}

header #logotype span{
    font-size: 1.7em;
    line-height: 45px;
    margin-left: 40px;
    font-family: 'Yusei Magix', serif;
}

@media(min-width: 701px){
    #logotype{
        float: left;
        width: 30%;
        font-size: 1.1em;
    }

    #navigation{
        float: right;
        width: 67%;
    }
}

@media(max-width: 700px){
    #logotype{
        margin-top: 15px;
        width: 100%;
        font-size: 1.5em;
    }
    #navigation{
        float: left;
        width: 100%;
    }
}

#navigation{
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
}

#navigation > a {color: white}

#navigation > a:hover {
    color: #9fde8a;
    text-decoration: underline;
}

#navigation > a:not(:last-child){
    margin-right: 7%;
}

.fixed{
    z-index: 5000;
    background-color: white;
    border-bottom: 1px solid silver;
}

header.fixed #logotype{
    color: #343434
}

.fixed #navigation a {color: #343434}
.fixed #navigation a:hover {color: #7c7c7c}

#top {
    width: 100%;
    background-image: url(https://img.sciencedc.com/img/health-medicine/constellation-in-the-chaos-of-cancer-chromosomes.jpg);
    background-blend-mode: multiply;
    background-color: #7f757c;
    background-size: cover;
    text-align: center;
    color: white;
}

@media (min-width: 1001px) {
    #top {
        font-size: 2em;
        height: 1000px;
    }
    #main{
        width: 60%;
        margin-left: 15%;
        margin-right: 15%;
    }
    #main span{
        font-size: 1.5em;
    }
    #main ul{
        font-size: 1.3em;
    }
}

@media (max-width: 1000px) and (min-width: 651px){
    #top {
        font-size: 1.3em;
        height: 600px;
    }
    #main{
        width: 74%;
        margin-left: 8%!important;
        margin-right: 8%!important;
    }
    #main span{
        font-size: 1.3em;
    }
    #main ul{
        font-size: 1em;
    }
}

@media (max-width: 650px) {
    #top {
        font-size: 0.8em;
        padding-top: 50%;
        height: 500px;
    }
    #main{
        width: 90%;
        margin-left: 0!important;
        margin-right: 0!important;
    }
    #main span{
        font-size: 1em;
    }
    #main ul{
        font-size: 0.85em;
    }
}

#top h1{
    padding-top: 20%;
}

#top h3{
    color: #367321;
    text-shadow: 1px 1px 1px #fff;
}

#main {
    float: left;
    background-color: white;
    border-top: 2px solid silver;
    color: black;
    font-size: 1.3em;

    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
}

#main h2{
    font-family: 'Amatic SC';
    font-size: 2.5em;
}

#main span{
    font-family: 'Cormorant';
    float: left;
    width: 100%;
    margin-top: 10px;
}

#main img{
    background: white;
    padding-top: 20px;
    padding-bottom: 5px;
    float: left;
    width: 100%;
}

#main h6{
    font-family: 'Amatic SC';
    font-size: 0.8em;
}

#main ul{
    padding-left: 7%;
    font-family: 'Cormorant';
}